<div>
    <h2 id="page-heading">
        <span>Elections</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-election" [routerLink]="['/election/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Election
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="elections?.length === 0">
        <span>No elections found</span>
    </div>
    <div class="table-responsive" *ngIf="elections?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Date</span></th>
            <th><span>Type</span></th>
            <th><span>Council</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let election of elections ;trackBy: trackId">
                <td><a [routerLink]="['/election', election.id, 'view' ]">{{election.id}}</a></td>
                <td>{{election.name}}</td>
                <td>{{election.date | date:'mediumDate'}}</td>
                <td>{{election.type}}</td>
                <td>
                    <div *ngIf="election.council">
                        <a [routerLink]="['/council', election.council?.id, 'view' ]" >{{election.council?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/election', election.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/election', election.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/election', { outlets: { popup: election.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
