<div>
    <h2 id="page-heading">
        <span>Meetings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meeting" [routerLink]="['/meeting/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Meeting
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="meetings?.length === 0">
        <span>No meetings found</span>
    </div>
    <div class="table-responsive" *ngIf="meetings?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Place</span></th>
            <th><span>Council</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meeting of meetings ;trackBy: trackId">
                <td><a [routerLink]="['/meeting', meeting.id, 'view' ]">{{meeting.id}}</a></td>
                <td>{{meeting.date | date:'mediumDate'}}</td>
                <td>{{meeting.place}}</td>
                <td>
                    <div *ngIf="meeting.council">
                        <a [routerLink]="['/council', meeting.council?.id, 'view' ]" >{{meeting.council?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/meeting', meeting.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/meeting', meeting.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/meeting', { outlets: { popup: meeting.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
