<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commissionRelation">
            <h2><span>Commission Relation</span> {{commissionRelation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>From</span></dt>
                <dd>
                    <span>{{commissionRelation.from}}</span>
                </dd>
                <dt><span>To</span></dt>
                <dd>
                    <span>{{commissionRelation.to}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{commissionRelation.type}}</span>
                </dd>
                <dt><span>Commission</span></dt>
                <dd>
                    <div *ngIf="commissionRelation.commission">
                        <a [routerLink]="['/commission', commissionRelation.commission?.id, 'view']">{{commissionRelation.commission?.name}}</a>
                    </div>
                </dd>
                <dt><span>Person</span></dt>
                <dd>
                    <div *ngIf="commissionRelation.person">
                        <a [routerLink]="['/person', commissionRelation.person?.id, 'view']">{{commissionRelation.person?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commission-relation', commissionRelation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
